html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='#') Coders.Tokyo
            button.navbar-toggler
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link(href='/users') Users
                    li.nav-item
                        a.nav-link(href='/store') Users
            if user
                p.text-light= user.name
        .container.pt-4
            block content
