h1 Users list ...

a(href="/users/create") New
br

form(action="/users/search" method="get")
    input(type="text" placeholder="nhap" name="q")
    button Search
//- luu gia tri can tim vao q
hr

//- show list users
ul
    each user in users
        li
            span= user.name
            span &nbsp
            a(href="/users/" + user.id) View