extends ../layouts/common
block content
    .container
        h1.text-danger.text-center Users list ...

        a.btn.btn-primary.mb-3(href="/users/create") New
        br

        form.form-group.d-flex(action="/users/search" method="get")
            input.form-control(type="text" placeholder="Nhap" name="q")
            button.btn.btn-primary.ml-3 Search
        //- luu gia tri can tim vao q
        hr

        //- show list users
        ul
            each user in users
                li
                    span= user.name
                    span &nbsp
                    a(href="/users/" + user.id) View